.button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background-color: var(--color-gray);
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--color-gray);
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color var(--transition-duration) var(--transition-animation),
    background-color var(--transition-duration) var(--transition-animation),
    border-color var(--transition-duration) var(--transition-animation),
    box-shadow var(--transition-duration) var(--transition-animation);

  &:hover,
  &:focus {
    border-color: var(--color-darken-gray);
    background-color: var(--color-darken-gray);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--color-transparent-gray);
  }

  &--red {
    background-color: var(--color-red);
    border-color: var(--color-red);

    &:hover,
    &:focus {
      border-color: var(--color-darken-red);
      background-color: var(--color-darken-red);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--color-transparent-red);
    }
  }

  &--blue {
    background-color: var(--color-blue);
    border-color: var(--color-blue);

    &:hover,
    &:focus {
      border-color: var(--color-darken-blue);
      background-color: var(--color-darken-blue);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--color-transparent-blue);
    }
  }
}
